.inspo/
/db.sqlite3
_pycache_/
*.py[cod]
migrations/
.venv/

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build
main/static/main/js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/launch.json
