<fieldset>
    <div class="form-field-container">
        {{form.account_manager.label}}
        {{form.account_manager}}
        <span class="form-field-error">{{form.account_manager.errors}}</span>
    </div>
    <div class="form-field-container">
        {{form.project_manager.label}}
        {{form.project_manager}}
        <span class="form-field-error">{{form.project_manager.errors}}</span>
    </div>
    <div class="form-field-container">
        {{form.solutions_specialist.label}}
        {{form.solutions_specialist}}
        <span class="form-field-error">{{form.solutions_specialist.errors}}</span>
    </div>
    <div class="form-field-container">
        {{form.lead_retrieval_specialist.label}}
        {{form.lead_retrieval_specialist}}
        <span class="form-field-error">{{form.lead_retrieval_specialist.errors}}</span>
    </div>
</fieldset>

<fieldset>
    <div class="form-field-container">
        {{form.insignia_requirement.label}}
        {{form.insignia_requirement}}
        <span class="form-field-error">{{form.insignia_requirement.errors}}</span>
    </div>
    <div class="form-field-container">
        {{form.checkin_requirement.label}}
        {{form.checkin_requirement}}
        <span class="form-field-error">{{form.checkin_requirement.errors}}</span>
    </div>
    <div class="form-field-container">
        {{form.portal_requirement.label}}
        {{form.portal_requirement}}
        <span class="form-field-error">{{form.portal_requirement.errors}}</span>
    </div>
    <div class="form-field-container">
        {{form.sentinel_requirement.label}}
        {{form.sentinel_requirement}}
        <span class="form-field-error">{{form.sentinel_requirement.errors}}</span>
    </div>
</fieldset>
<fieldset>
    <div class="form-field-container">
        {{form.production_redwood_id.label}}
        {{form.production_redwood_id}}
        <span class="form-field-error">{{form.production_redwood_id.errors}}</span>
    </div>
    <div class="form-field-container">
        {{form.production_show_code.label}}
        {{form.production_show_code}}
        <span class="form-field-error">{{form.production_show_code.errors}}</span>
    </div>
    <div class="form-field-container">
        {{form.test_redwood_id.label}}
        {{form.test_redwood_id}}
        <span class="form-field-error">{{form.test_redwood_id.errors}}</span>
    </div>
    <div class="form-field-container">
        {{form.test_show_code.label}}
        {{form.test_show_code}}
        <span class="form-field-error">{{form.test_show_code.errors}}</span>
    </div>
</fieldset>

<div class="form-field-container">
    {{form.printer_type.label}}
    {{form.printer_type}}
    <span class="form-field-error">{{form.printer_type.errors}}</span>
</div>

<p class="form-feedback">{{form.non_field_errors}}</p>