
<div class="form-field-container">
    {{form.name.label}}
    {{form.name}}
    <span class="form-field-error">{{form.name.errors}}</span>
</div>

<fieldset>
    <div class="form-field-container">
        {{form.start_date.label}}
        {{form.start_date}}
        <span class="form-field-error">{{form.start_date.errors}}</span>
    </div>
    <div class="form-field-container">
        {{form.end_date.label}}
        {{form.end_date}}
        <span class="form-field-error">{{form.end_date.errors}}</span>
    </div>
</fieldset>
<fieldset>
    <div class="form-field-container">
        {{form.travel_in_date.label}}
        {{form.travel_in_date}}
        <span class="form-field-error">{{form.travel_in_date.errors}}</span>
    </div>
    <div class="form-field-container">
        {{form.travel_out_date.label}}
        {{form.travel_out_date}}
        <span class="form-field-error">{{form.travel_out_date.errors}}</span>
    </div>
</fieldset>

<div class="form-field-container">
    {{form.timetracking_url.label}}
    {{form.timetracking_url}}
    <span class="form-field-error">{{form.timetracking_url.errors}}</span>
</div>
<div class="form-field-container">
    {{form.external_project_url.label}}
    {{form.external_project_url}}
    <span class="form-field-error">{{form.external_project_url.errors}}</span>
</div>
<div class="form-field-container">
    {{form.sharepoint_url.label}}
    {{form.sharepoint_url}}
    <span class="form-field-error">{{form.sharepoint_url.errors}}</span>
</div>

<p class="form-feedback">{{form.non_field_errors}}</p>