html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cls-1 {
    mix-blend-mode: multiply;
    opacity: .66;
}

.cls-2 {
    isolation: isolate;
}

.cls-3 {
    fill: #fff;
    stroke-width: 0px;
}

.page{
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    .page-content{
        height: 100%;
        flex-grow: 1;
    }
}

.breadcrumb-container{
    margin: 15px 5px;

    & a {
        text-transform: uppercase;
        text-decoration: none;
        line-height: 100%;
        display: flex;
        gap: 5px;
        align-items: flex-end;
    }

    & ol{
        display: flex;
        align-items: flex-end;
    }
    
    & span{
        padding-bottom: 1px;
    }
}

header img {
    width: 75%;
    margin: auto;
    display: table;
}
header .container-fluid{
    margin-top: 50px;
    padding: 0;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.layout{
    position: relative;
    width: 100%;
    min-height: 70vh;
}

.layout > div{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

input.simple-number-input[type="number"]::-webkit-inner-spin-button,
input.simple-number-input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input.simple-number-input[type="number"] {
    background-color: transparent;
    border: none;
    text-align: center;
    -moz-appearance: textfield;
    appearance: none;
}

input.simple-number-input[type="number"]:focus-visible {
    outline: none;
}

/* Hide arrows in Chrome, Safari, Edge, and Opera */
input.no-controls[type="number"]::-webkit-outer-spin-button,
input.no-controls[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input.no-controls[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}