body{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cls-1 {
    mix-blend-mode: multiply;
    opacity: .66;
}

.cls-2 {
    isolation: isolate;
}

.cls-3 {
    fill: #fff;
    stroke-width: 0px;
}