.EventDetailView{
    position: relative;
    display: grid;
    gap: 25px;
    grid-template-columns: 275px auto ;
    grid-auto-rows: auto;
    grid-template-areas:
    "projectDetails taskBreakdown";
}

.ProjectDetails{
    position: absolute;
    height: 100% !important;
    display: grid;
    grid-template-rows: max-content 15px 40px max-content 40px max-content min-content;
    grid-area: projectDetails;
}

.ProjectDetailsHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ProjectDetailLinksContainer{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    bottom: 0;

    & a[disabled]{
        color: white;
        opacity: 75%;
        text-decoration: none;
    }
}

.TaskBreakdown{
    display: flex;
    position: relative;
    grid-area: taskBreakdown;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    overflow-y:auto;
}

.ProductTasksContainer{
    min-height: 25%;
}