.ShipmentDetailView{
    display: flex;
    flex-flow: row wrap;
    min-height: 75vh;
    align-items: stretch;
    gap: 10px;

    --content-height: 720px;
}

.ShipmentDetailsColumn{
    min-height: var(--content-height);
    display: flex;
    align-items: stretch;
}

.ShipmentDetailContent{
    flex-grow:2;
    flex-shrink:2;
    flex-basis: 320px;
}
