.ShipmentDetailView{
    display: flex;
    flex-flow: row wrap;
    min-height: 75vh;
    align-items: stretch;
    gap: 10px;

    --content-height: 720px;
}

.ShipmentDetailsColumn{
    min-height: var(--content-height);
    width: 316px;
    display: flex;
    flex-direction: column;
    flex-shrink:1;
}

.ShipmentDetailContent{
    flex-grow:1;
}
